h1 {
    text-align: center;
    background-color: pink;
}
img {
    border: rgb(0, 0, 0);
}
img {
    border-style: solid;
    height: 250px;
}
.img-container {
    text-align: center;
   }